@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap");
/*** Mixin ***/
/*** Variables ***/
/*** Global Style ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: none;
}

h1 {
  font-family: "League Spartan", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*** Common Class ***/
.container {
  margin: auto;
  width: 100%;
  max-width: 90%;
}

.btn {
  font-size: 14px;
  font-weight: 400;
  padding: 16px;
  background-color: white;
}

.section-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.card-heading {
  font-size: 14px;
  font-weight: 600px;
}

.common-h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.common-pera {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

/*** Media Query ***/
@media only screen and (min-width: 360px) {
  .container {
    max-width: 88%;
  }
}
@media only screen and (min-width: 768px) {
  .section-heading {
    font-size: 24px;
  }
  .common-pera {
    font-size: 16px;
  }
  .love-icon span {
    font-size: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .section-heading {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .card-heading {
    font-size: 16px;
    font-weight: 700;
  }
  .common-h5 {
    font-size: 16px;
    font-weight: 700;
  }
  .common-pera {
    font-size: 18px;
  }
  .love-icon span {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .section-heading {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .container {
    max-width: 85%;
  }
  .common-h5 {
    font-size: 20px;
  }
  .common-pera {
    font-size: 20px;
  }
}
#main {
  background-image: url(../images/main-bg-sm.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 396px 0px 16px 0px;
}
#main .container p {
  display: flex;
  flex-flow: column;
  margin-bottom: 32px;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
}

@media only screen and (min-width: 768px) {
  #main {
    background-image: url(../images/main-bg.png);
  }
  #main .container p {
    font-size: 24px;
  }
  #main .container .btn {
    padding: 16px 32px;
  }
}
@media only screen and (min-width: 992px) {
  #main .container p {
    font-size: 28px;
  }
  #main .container .btn {
    padding: 16px 48px;
  }
}
@media only screen and (min-width: 1440px) {
  #main .container p {
    font-size: 34px;
  }
  #main .container .btn {
    padding: 16px 67px;
  }
}
#best-seller {
  padding: 20px 0px;
}
#best-seller .container .best-seller-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
}
#best-seller .container .best-seller-wrapper .item .item-img {
  position: relative;
}
#best-seller .container .best-seller-wrapper .item .item-img img {
  width: 100%;
}
#best-seller .container .best-seller-wrapper .item .item-img .love-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
#best-seller .container .best-seller-wrapper .item .item-body {
  padding: 0px 12px 8px 0px;
}
#best-seller .container .best-seller-wrapper .item .item-body .item-details p {
  margin-top: 8px;
}
#best-seller .container .best-seller-wrapper .item .item-body .item-details .price {
  text-align: end;
  margin-top: 3px;
}
#best-seller .container .best-seller-wrapper .item .item-body .item-colors {
  margin-top: 18px;
  display: flex;
  column-gap: 8px;
}
#best-seller .container .best-seller-wrapper .item .item-body .item-colors div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
}
#best-seller .container .best-seller-wrapper .item .item-body .item-colors div:nth-child(2) {
  background-color: #7dc3eb;
}
#best-seller .container .best-seller-wrapper .item .item-body .item-colors div:nth-child(3) {
  background-color: #748c70;
}
#best-seller .container .best-seller-wrapper .item:nth-child(3) {
  display: none;
}

@media only screen and (min-width: 768px) {
  #best-seller {
    padding: 40px 0px;
  }
  #best-seller .container .best-seller-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  #best-seller .container .best-seller-wrapper .item .item-img {
    width: 100%;
    height: 74%;
  }
  #best-seller .container .best-seller-wrapper .item .item-img img {
    height: 100%;
  }
  #best-seller .container .best-seller-wrapper .item .item-details {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  #best-seller .container .best-seller-wrapper .item:nth-child(3) {
    display: block;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  #best-seller {
    padding: 60px 0px;
  }
}
@media only screen and (min-width: 1440px) {
  #best-seller {
    padding: 88px 0px 99px 0px;
  }
}
#collection .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 16px;
}
#collection .container .col .item img {
  width: 100%;
}
#collection .container .col-2 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  #collection .container .col .item {
    position: relative;
  }
  #collection .container .col .item .btn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 10px 32px;
  }
  #collection .container .col-1 {
    display: flex;
    flex-flow: column wrap;
    row-gap: 35px;
  }
  #collection .container .col-2 .item:nth-child(1) .btn {
    left: 12px;
    bottom: 12px;
    right: initial;
  }
}
@media only screen and (min-width: 992px) {
  #collection .container {
    column-gap: 20px;
  }
  #collection .container .col .item .btn {
    bottom: 14px;
    right: 14px;
    padding: 12px 36px;
  }
  #collection .container .col-1 {
    row-gap: 45px;
  }
  #collection .container .col-2 .item:nth-child(1) .btn {
    left: 14px;
    bottom: 14px;
  }
}
@media only screen and (min-width: 1440px) {
  #collection .container {
    column-gap: 24px;
  }
  #collection .container .col .item .btn {
    bottom: 16px;
    right: 16px;
    padding: 16px 48px;
  }
  #collection .container .col-1 {
    row-gap: 64px;
  }
  #collection .container .col-2 .item:nth-child(1) .btn {
    left: 16px;
    bottom: 16px;
  }
}
#modiweek {
  padding: 24px 0px;
}
#modiweek .container .modiweek-cardset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 16px;
}
#modiweek .container .modiweek-cardset .card {
  padding-bottom: 33px;
}
#modiweek .container .modiweek-cardset .card .img-wrap {
  position: relative;
}
#modiweek .container .modiweek-cardset .card .img-wrap img {
  width: 100%;
}
#modiweek .container .modiweek-cardset .card .img-wrap .love-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
#modiweek .container .modiweek-cardset .card:nth-child(3) {
  display: none;
}
#modiweek .container .modiweek-cardset .card:nth-child(4) {
  display: none;
}

@media only screen and (min-width: 768px) {
  #modiweek {
    padding: 32px 0px;
  }
  #modiweek .container .modiweek-cardset {
    grid-template-columns: repeat(3, 1fr);
  }
  #modiweek .container .modiweek-cardset .card:nth-child(3) {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  #modiweek {
    padding: 45px 0px;
  }
  #modiweek .container .modiweek-cardset {
    grid-template-columns: repeat(4, 1fr);
  }
  #modiweek .container .modiweek-cardset .card {
    padding-bottom: none;
  }
  #modiweek .container .modiweek-cardset .card h3 {
    margin-top: 20px;
    margin-bottom: 7px;
  }
  #modiweek .container .modiweek-cardset .card:nth-child(4) {
    display: block;
  }
}
@media only screen and (min-width: 1440px) {
  #modiweek {
    padding: 88px 0px;
  }
  #modiweek .container .modiweek-cardset .card h3 {
    margin-top: 38px;
    margin-bottom: 7px;
  }
}
#sustainability {
  background-image: url(../images/Sustainability-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 280px 0px 16px 0px;
}
#sustainability .container .content .btn-wrap {
  margin-top: 32px;
  text-align: end;
}

@media only screen and (min-width: 768px) {
  #sustainability .container {
    display: flex;
    justify-content: end;
  }
  #sustainability .container .content {
    max-width: 350px;
  }
  #sustainability .container .content .btn-wrap {
    margin-top: 32px;
    text-align: end;
  }
}
@media only screen and (min-width: 992px) {
  #sustainability {
    padding: 400px 0px 32px 0px;
  }
  #sustainability .container .content {
    max-width: 420px;
  }
}
@media only screen and (min-width: 1440px) {
  #sustainability {
    padding: 443px 0px 42px 0px;
  }
  #sustainability .container .content {
    max-width: 495px;
  }
}
#follow-us {
  padding: 24px 0px;
}
#follow-us .container h2 {
  margin-bottom: 8px;
}
#follow-us .container .follow-us-imgset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#follow-us .container .follow-us-imgset img:nth-child(5) {
  display: none;
}
#follow-us .container .follow-us-imgset img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 992px) {
  #follow-us {
    padding: 48px 0px 36px 0px;
  }
  #follow-us .container h2 {
    margin-bottom: 16px;
  }
  #follow-us .container .follow-us-imgset {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #follow-us .container .follow-us-imgset img:nth-child(1) {
    grid-area: 1/1/span 2/span 1;
  }
  #follow-us .container .follow-us-imgset img:nth-child(5) {
    display: block;
  }
}
@media only screen and (min-width: 1440px) {
  #follow-us {
    padding: 88px 0px 48px 0px;
  }
  #follow-us .container h2 {
    margin-bottom: 24px;
  }
}
footer {
  background-color: #404040;
  padding: 32px 0px 40px 0px;
  color: white;
}
footer .container {
  display: flex;
  flex-flow: column;
  row-gap: 24px;
}
footer .container div:nth-child(1) .email-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  background-color: transparent;
  padding: 9px 16px;
  margin: 16px 0px 9px 0px;
}
footer .container div:nth-child(1) .email-wrap input {
  background: none;
  border: none;
  outline: none;
}
footer .container div:nth-child(1) .email-wrap span {
  color: white;
}
footer .container div:nth-child(1) .checkbox-wrap {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
footer .container div:nth-child(1) .checkbox-wrap p {
  font-size: 10px;
  font-weight: 600;
}
footer .container div:nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 24px;
}
footer .container div:nth-child(2) ul {
  display: flex;
  flex-flow: column;
  row-gap: 10px;
  width: 152px;
}
footer .container div:nth-child(2) ul li a {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
footer .container div:nth-child(3) ul {
  display: flex;
  column-gap: 16px;
  margin-bottom: 24px;
}
footer .container div:nth-child(3) .created-by {
  justify-content: start;
  column-gap: 10px;
}
footer .container div:nth-child(3) .created-by p {
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  footer .container div:nth-child(1) .email-wrap {
    width: 60%;
  }
  footer .container div:nth-child(1) .checkbox-wrap {
    justify-content: start;
  }
  footer .container div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .container div:nth-child(3) ul {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 992px) {
  footer {
    padding: 42px 0px 33px 0px;
  }
  footer .container {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  footer .container div:nth-child(1) {
    width: 38%;
  }
  footer .container div:nth-child(1) .email-wrap {
    width: 100%;
  }
  footer .container div:nth-child(1) .checkbox-wrap {
    margin-top: 0px;
    flex-flow: row;
    row-gap: 0px;
  }
  footer .container div:nth-child(1) .checkbox-wrap p {
    font-size: 12px;
  }
  footer .container div:nth-child(2) {
    width: 50%;
  }
  footer .container div:nth-child(2) ul {
    width: 162px;
  }
  footer .container div:nth-child(2) ul li a {
    font-size: 16px;
  }
  footer .container div:nth-child(3) {
    margin-top: -50px;
    flex-flow: column;
    align-items: start;
    row-gap: 30px;
  }
  footer .container div:nth-child(3) .created-by {
    width: 100%;
  }
  footer .container div:nth-child(3) .created-by p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1440px) {
  footer {
    padding: 52px 0px 33px 0px;
  }
  footer .container div:nth-child(1) {
    width: 37%;
  }
  footer .container div:nth-child(1) .email-wrap {
    margin: 24px 0px 16px 0px;
  }
  footer .container div:nth-child(1) .checkbox-wrap {
    margin: 0px;
  }
  footer .container div:nth-child(2) {
    width: 55%;
  }
  footer .container div:nth-child(2) ul {
    row-gap: 15px;
    width: 172px;
  }
  footer .container div:nth-child(2) ul li a {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
