#best-seller {
  padding: 20px 0px;
  .container {
    .best-seller-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      .item {
        .item-img {
          position: relative;
          img {
            width: 100%;
          }
          .love-icon {
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
        .item-body {
          padding: 0px 12px 8px 0px;
          .item-details {
            p {
              margin-top: 8px;
            }
            .price {
              text-align: end;
              margin-top: 3px;
            }
          }
          .item-colors {
            margin-top: 18px;
            display: flex;
            column-gap: 8px;
            div {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background-color: black;
            }
            div:nth-child(2) {
              background-color: $sky-blue;
            }
            div:nth-child(3) {
              background-color: $thin-green;
            }
          }
        }
      }
      .item:nth-child(3) {
        display: none;
      }
    }
  }
}

@include media($md) {
  #best-seller {
    padding: 40px 0px;
    .container {
      .best-seller-wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        .item {
          .item-img {
            width: 100%;
            height: 74%;
            img {
              height: 100%;
            }
          }
          .item-details {
            display: flex;
            justify-content: space-between;
            align-items: end;
          }
        }
        .item:nth-child(3) {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
@include media($lg) {
  #best-seller {
    padding: 60px 0px;
  }
}
@include media($xl) {
  #best-seller {
    padding: 88px 0px 99px 0px;
  }
}
