@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap");

/*** Mixin ***/
@mixin media($screen-size) {
  @media only screen and (min-width: $screen-size) {
    @content;
  }
}

/*** Variables ***/
$darkgray: #404040;
$sky-blue: #7dc3eb;
$thin-green: #748c70;
$sm: 360px;
$md: 768px;
$lg: 992px;
$xl: 1440px;

/*** Global Style ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  background-color: none;
}
h1 {
  font-family: "League Spartan", sans-serif;
}
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*** Common Class ***/
.container {
  margin: auto;
  width: 100%;
  max-width: 90%;
}
.btn {
  font-size: 14px;
  font-weight: 400;
  padding: 16px;
  background-color: white;
}
.section-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.card-heading {
  font-size: 14px;
  font-weight: 600px;
}
.common-h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}
.common-pera {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

/*** Media Query ***/
@include media($sm) {
  .container {
    max-width: 88%;
  }
}
@include media($md) {
  .section-heading {
    font-size: 24px;
  }
  .common-pera {
    font-size: 16px;
  }
  .love-icon {
    span {
      font-size: 20px;
    }
  }
}
@include media($lg) {
  .section-heading {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .card-heading {
    font-size: 16px;
    font-weight: 700;
  }
  .common-h5 {
    font-size: 16px;
    font-weight: 700;
  }
  .common-pera {
    font-size: 18px;
  }
  .love-icon {
    span {
      font-size: 24px;
    }
  }
}
@include media($xl) {
  .section-heading {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .container {
    max-width: 85%;
  }
  .common-h5 {
    font-size: 20px;
  }
  .common-pera {
    font-size: 20px;
  }
}

@import "./_best-seller";
@import "./modiweek";
@import "./sustainability";
@import "./about-us";
@import "./footer";
